.header {
    margin-top: 20px;
}

.header a {
    text-decoration: none;
    margin: 10px;
    color: black;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}

/* .header a:hover {
    color: orange;
} */
.active {
    background-color: hotpink;
}